@charset "UTF-8";
@import url(style.css);
@import url(normalize.css);
@import url(bootstrap.min.css);
@import url(all.css);
@import url(../icomoon-hp/style.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap");
@font-face {
  font-family: YouandiModernTR;
  src: url("../fonts/YouandiModernTR.eot");
  src: local(※), url("../fonts/YouandiModernTR.woff") format("woff"); }

body {
  font-family: YouandiModernTR;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  line-height: 1.45;
  background-color: #F8F9FA; }

@media (min-width: 1200px) {
  .container {
    max-width: 1080px; } }

.d-flex, #header .nav-link {
  display: flex; }

.d-table {
  display: table;
  box-sizing: border-box;
  border-spacing: 10px 0;
  width: 100%;
  table-layout: fixed;
  height: 100%; }
  .d-table .d-cell {
    display: table-cell; }

.w-100 {
  width: 100%; }

.h8, .h h8 {
  font-size: 12px;
  display: block; }

.text-body {
  color: #666; }

.text-gray {
  color: #9BA3AD; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-bolder {
  font-weight: 600; }

.font-weight-normal {
  font-weight: 500 !important; }

.font-weight-light {
  font-weight: 400; }

.font-evnet {
  font-family: 'aritadm','Raleway' !important; }

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important; }

.justify-content-center {
  display: flex;
  justify-content: center; }

.align-items-center, #header .nav-link {
  display: flex;
  align-items: center; }

.align-items-end {
  display: flex;
  align-items: flex-end; }

.align-content-between {
  display: flex;
  align-content: space-between !important;
  flex-wrap: wrap; }

.align-items-stretch {
  align-items: stretch !important;
  display: flex; }

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.col-between {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap; }

.border-0, .btn-transparent, #content-tab .nav-link:hover, .guide-card {
  border: none; }

.bg-light, #page-sprint .wrap-data-table .d-table .d-cell {
  background-color: #f8f9fa; }

.bg-transparent, .btn-transparent, #content-tab .nav-link:hover {
  background-color: transparent; }

.btn-sm, #content-tab .nav-link {
  padding: .25rem .5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: .2rem !important; }

.btn-transparent:hover, #content-tab .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1) !important; }

.no-gutters-sm {
  margin-right: 2rem;
  margin-left: 2rem; }

.list-check {
  list-style-type: none !important;
  box-sizing: border-box; }
  .list-check li {
    list-style: none !important;
    background: url("../images/icon-check.png") 4px 5px;
    background-repeat: no-repeat;
    padding-left: 24px; }

.list-disc {
  box-sizing: border-box;
  padding-left: 1.5rem !important; }
  .list-disc li {
    list-style: disc !important; }

.list-square {
  box-sizing: border-box;
  padding-left: 1.5rem !important; }
  .list-square li {
    list-style: square !important; }

.list-counter-bracket {
  counter-reset: section;
  list-style-type: none;
  padding-left: 1.5rem !important; }
  .list-counter-bracket li::before, .list-counter-bracket li:before {
    counter-increment: section;
    content: "(" counter(section) ")";
    font-weight: 600;
    margin-left: -2.3rem;
    width: 2rem;
    position: absolute;
    text-align: right; }

.list-counter {
  counter-reset: section;
  list-style-type: none;
  padding-left: 1.5rem !important; }
  .list-counter li::before, .list-counter li:before {
    counter-increment: section;
    content: counter(section) ".";
    font-weight: 600;
    margin-left: -2.4rem;
    width: 2rem;
    position: absolute;
    text-align: right; }

.spacer-xs {
  height: 0.5rem; }

.spacer-sm {
  height: 1rem; }

.spacer-sm-l {
  margin-left: 1.5rem; }

.spacer-md {
  height: 2rem; }

.spacer-lg {
  height: 2.5rem; }

.spacer-xl {
  height: 3rem; }

.spacer-list li {
  padding-bottom: 0.25rem; }

@media (min-width: 992px) {
  .position-fixed-lg {
    position: fixed; } }

.z-index9 {
  z-index: 99; }

#header .nav-link {
  height: 70px; }

#content-tab .nav-link {
  color: #666; }

.guide-card {
  height: 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.31) 0px 0px 1px 0px;
  transition: box-shadow 0.25s ease-in-out 0s; }
  .guide-card:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 16px -4px, rgba(9, 30, 66, 0.31) 0px 0px 1px; }

#page-sprint .wrap-data-table .d-table {
  height: calc(100vh - $page-sprint-top); }
  #page-sprint .wrap-data-table .d-table .d-cell {
    height: 100%; }
